trigger:
  branches:
    include:
    - Develop
    - QA
    - master

pool:
  vmImage: 'ubuntu-latest'

steps:
# Paso 1: Instalar PHP y extensiones necesarias
- script: |
    sudo apt-get update
    sudo apt-get install -y php php-xml php-mbstring php-curl
    php -v
  displayName: 'Instalar PHP'

# Paso 2: Instalar Composer
- script: |
    curl -sS https://getcomposer.org/installer | php
    sudo mv composer.phar /usr/local/bin/composer
    composer --version
  displayName: 'Instalar Composer'

# Paso 3: Instalar dependencias
- script: |
    composer install --no-progress --prefer-dist --optimize-autoloader
  displayName: 'Instalar dependencias'

# Paso 4: Ejecutar pruebas 
- script: |
    vendor/bin/phpunit tests/ --log-junit test-results.xml
  displayName: 'Ejecutar pruebas PHPUnit'
  workingDirectory: '$(System.DefaultWorkingDirectory)'

# Paso 5: Publicar resultados
- task: PublishTestResults@2
  inputs:
    testResultsFiles: '**/test-results.xml'
    testRunTitle: 'PHPUnit Test Results'
  condition: succeededOrFailed()
  displayName: 'Publicar resultados'

# Paso 6 Publicar artefactos
- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(System.DefaultWorkingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'
  condition: succeeded()
  displayName: 'Publicar artefactos'